Repository intershop/helm-charts, pull requests merged in 2022-12, with the labels that each got.

#178 feat: support page prefetch
  charts/pwa/README.md
  charts/pwa/templates/_helpers.tpl
  charts/pwa/templates/prefetch-job.yaml
  charts/pwa/values.schema.json
  charts/pwa/values.yaml
Labels: pwa

#186 release: pwa-main version 0.5.0
  charts/pwa/README.md
  charts/pwa/templates/_helpers.tpl
  charts/pwa/templates/prefetch-job.yaml
  charts/pwa/values.schema.json
  charts/pwa/values.yaml
Labels: pwa, minor

#188 Release current changes in develop/icm
  .github/workflows/lint-test_icm-as.yml
  .github/workflows/lint-test_icm.yml
  charts/icm-as/.bumpversion.cfg
  charts/icm-as/Chart.yaml
  charts/icm-as/templates/_helpers.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/cluster-sc.yaml
  charts/icm-as/templates/cluster-sites-pvc.yaml
  charts/icm-as/templates/cluster-sites-sc.yaml
  charts/icm-as/templates/local-jgroups-pv.yaml
  charts/icm-as/templates/local-jgroups-pvc.yaml
  charts/icm-as/tests/basic-config-values_test.yaml
  charts/icm-as/tests/datadog_test.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/image_test.yaml
  charts/icm-as/tests/jvm-config_test.yaml
  charts/icm-as/tests/persistence-sites_test.yaml
  charts/icm-as/values.yaml
  charts/icm-web/.bumpversion.cfg
  charts/icm-web/Chart.yaml
  charts/icm-web/templates/cluster-pagecache-pvc.yaml
  charts/icm-web/templates/cluster-pagecache-sc.yaml
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.cfg
  charts/icm/Chart.yaml
  charts/icm/requirements.yaml
  charts/icm/values.yaml
Labels: Repo
