Repository intershop/helm-charts, pull requests merged in 2022-10, with the labels that each got.

#148 chore (icm): fix related file name for ct lint (#147)
  .github/workflows/lint-test_icm-as.yml
Labels: Repo

#149 Hotfix/icm/fix icm as ct lint
  .github/workflows/lint-test_icm-as.yml
  ct_icm-as.yaml
Labels: Repo

#146 Feature/support podbinding for icm
  .github/workflows/lint-test_icm-as.yml
  charts/icm-as/Chart.yaml
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/values.yaml
  charts/icm-web/templates/ingress.yaml
  charts/icm-web/templates/ssl-certificate-spc.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm-web/values.yaml
Labels: minor, icm, Repo

#150 feat (icm): add support for podBinding (#145)
  .github/workflows/lint-test_icm-as.yml
  charts/icm-as/.bumpversion.cfg
  charts/icm-as/Chart.yaml
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.cfg
  charts/icm-replication/Chart.yaml
  charts/icm-replication/requirements.yaml
  charts/icm-web/.bumpversion.cfg
  charts/icm-web/Chart.yaml
  charts/icm-web/templates/ingress.yaml
  charts/icm-web/templates/ssl-certificate-spc.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.cfg
  charts/icm/Chart.yaml
  charts/icm/requirements.yaml
Labels: minor, Repo, icm-as, icm-web

#157 chore: upgrade github actions
  .github/workflows/bump-version.yml
  .github/workflows/lint-test_icm-as.yml
  .github/workflows/lint-test_icm.yml
  .github/workflows/lint-test_pwa.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-charts.yml
Labels: Repo

#159 Task/support sso 80189
  charts/iom/Chart.yaml
  charts/iom/README.rst
  charts/iom/docs/ParametersIOM.rst
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: iom
