Repository intershop/helm-charts, pull requests merged in 2022-09, with the labels that each got.

#128 Release IOM Helm Charts 2.2.0
  charts/iom/.bumpversion.cfg
  charts/iom/.helmignore
  charts/iom/Chart.yaml
  charts/iom/README.rst
  charts/iom/charts/iom-tests/templates/poddisruptionbudget.yaml
  charts/iom/charts/postgres/templates/poddisruptionbudget.yaml
  charts/iom/docs/ExampleDemo.rst
  charts/iom/docs/ExampleProd.rst
  charts/iom/docs/Helm-simple.png
  charts/iom/docs/IOMDatabase.rst
  charts/iom/docs/IntershopCommercePlatform.png
  charts/iom/docs/ParametersIOM.rst
  charts/iom/docs/ParametersMailhog.rst
  charts/iom/docs/ParametersNGINX.rst
  charts/iom/docs/ParametersPostgres.rst
  charts/iom/docs/ParametersTests.rst
  charts/iom/docs/Postgresql.rst
  charts/iom/docs/SecretKeyRef.rst
  charts/iom/docs/ToolsAndConcepts.rst
  charts/iom/templates/connection-monitor.yaml
  charts/iom/templates/patch-downtime.yaml
  charts/iom/templates/patch-mailhog.yaml
  charts/iom/templates/poddisruptionbudget.yaml
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: minor, iom

#130 Feature/provide log back.xml as configmap
  .github/workflows/lint-test_icm.yml
  charts/icm-as/system-conf/cluster/empty-config.xml
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/system-conf-cluster-cm.yaml
  charts/icm-as/values.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm/values.yaml
Labels: Repo, icm-as

#133 Release/icm 0.3.6
  .github/workflows/lint-test_icm.yml
  charts/icm-as/.bumpversion.cfg
  charts/icm-as/Chart.yaml
  charts/icm-as/system-conf/cluster/empty-config.xml
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/system-conf-cluster-cm.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.cfg
  charts/icm-replication/Chart.yaml
  charts/icm-replication/requirements.yaml
  charts/icm-web/.bumpversion.cfg
  charts/icm-web/Chart.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm/.bumpversion.cfg
  charts/icm/Chart.yaml
  charts/icm/requirements.yaml
  charts/icm/values.yaml
Labels: Repo

#134 Task/61963 custom metrics for datadog
  charts/iom/README.rst
  charts/iom/docs/Metrics.rst
  charts/iom/docs/Postgresql.rst
  charts/iom/docs/SecretKeyRef.rst
Labels: iom

#136 docs(iom): updated readme + added docu about prometheus metrics integration
  charts/iom/README.rst
  charts/iom/docs/Metrics.rst
  charts/iom/docs/Postgresql.rst
  charts/iom/docs/SecretKeyRef.rst
Labels: iom

#137 fix (icm): config map already exists (#129)
  charts/icm-as/.bumpversion.cfg
  charts/icm-as/Chart.yaml
  charts/icm-as/system-conf/cluster/empty-config.xml
  charts/icm-replication/.bumpversion.cfg
  charts/icm-replication/Chart.yaml
  charts/icm-replication/requirements.yaml
  charts/icm/.bumpversion.cfg
  charts/icm/Chart.yaml
  charts/icm/requirements.yaml
Labels: icm, icm-as

#138 ICM: Feature/add helm chart unit tests (#139)
  .github/workflows/lint-test_icm-as.yml
  .gitignore
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/cluster-sc.yaml
  charts/icm-as/templates/cluster-sites-pvc.yaml
  charts/icm-as/tests/README.md
  charts/icm-as/tests/basic-config-values_test.yaml
  charts/icm-as/tests/custom-command_test.yaml
  charts/icm-as/tests/customizations_test.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/environment_test.yaml
  charts/icm-as/tests/fullname-override_test.yaml
  charts/icm-as/tests/image_test.yaml
  charts/icm-as/tests/license_test.yaml
  charts/icm-as/tests/name-override_test.yaml
  charts/icm-as/tests/persistence-customdata_test.yaml
  charts/icm-as/tests/persistence-jgroups_test.yaml
  charts/icm-as/tests/persistence-sites_test.yaml
  charts/icm-as/tests/pod-security-context_test.yaml
  charts/icm-as/tests/probes-liveness_test.yaml
  charts/icm-as/tests/probes-readiness_test.yaml
  charts/icm-as/tests/probes-startup_test.yaml
  charts/icm-as/tests/provide-custom-config_test.yaml
  charts/icm-as/tests/resources_test.yaml
  charts/icm-as/tests/serviceaccount-create_test.yaml
  charts/icm-as/tests/values/customCommand.yaml
  charts/icm-as/tests/values/imagePullSecrets.yaml
  charts/icm-as/values.yaml
Labels: patch, Repo, icm-as

#140 release/icm-as
  .github/workflows/lint-test_icm-as.yml
  .gitignore
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/cluster-sc.yaml
  charts/icm-as/templates/cluster-sites-pvc.yaml
  charts/icm-as/tests/README.md
  charts/icm-as/tests/basic-config-values_test.yaml
  charts/icm-as/tests/custom-command_test.yaml
  charts/icm-as/tests/customizations_test.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/environment_test.yaml
  charts/icm-as/tests/fullname-override_test.yaml
  charts/icm-as/tests/image_test.yaml
  charts/icm-as/tests/license_test.yaml
  charts/icm-as/tests/name-override_test.yaml
  charts/icm-as/tests/persistence-customdata_test.yaml
  charts/icm-as/tests/persistence-jgroups_test.yaml
  charts/icm-as/tests/persistence-sites_test.yaml
  charts/icm-as/tests/pod-security-context_test.yaml
  charts/icm-as/tests/probes-liveness_test.yaml
  charts/icm-as/tests/probes-readiness_test.yaml
  charts/icm-as/tests/probes-startup_test.yaml
  charts/icm-as/tests/provide-custom-config_test.yaml
  charts/icm-as/tests/resources_test.yaml
  charts/icm-as/tests/serviceaccount-create_test.yaml
  charts/icm-as/tests/values/customCommand.yaml
  charts/icm-as/tests/values/imagePullSecrets.yaml
  charts/icm-as/values.yaml
Labels: patch, Repo, icm-as
