Repository intershop/helm-charts, pull requests merged in 2022-11, with the labels that each got.

#163 docs: document review
  charts/iom/README.rst
Labels: iom

#164 feature: Support SSO for IOM
  charts/iom/Chart.yaml
  charts/iom/README.rst
  charts/iom/docs/ParametersIOM.rst
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: iom

#167 Task/80754 remove internal nginx
  charts/iom/Chart.lock
  charts/iom/Chart.yaml
  charts/iom/README.rst
  charts/iom/docs/ExampleDemo.rst
  charts/iom/docs/ParametersMailhog.rst
  charts/iom/docs/ParametersNGINX.rst
  charts/iom/docs/ParametersPostgres.rst
  charts/iom/docs/ToolsAndConcepts.rst
  charts/iom/templates/ingress-internal-proxy.yaml
  charts/iom/templates/ingress.yaml
  charts/iom/values.yaml
Labels: iom

#180 Feature/icm/179 only ct install on main branch
  .github/workflows/lint-test_icm-as.yml
  .github/workflows/lint-test_icm.yml
Labels: Repo

#181 Feature/support datadog agent for icm
  charts/icm-as/.bumpversion.cfg
  charts/icm-as/Chart.yaml
  charts/icm-as/templates/_helpers.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/tests/basic-config-values_test.yaml
  charts/icm-as/tests/datadog_test.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/image_test.yaml
  charts/icm-as/tests/jvm-config_test.yaml
  charts/icm-as/values.yaml
  charts/icm/.bumpversion.cfg
  charts/icm/Chart.yaml
  charts/icm/requirements.yaml
  charts/icm/values.yaml
Labels: enhancement, major, icm, icm-as
