Repository intershop/helm-charts, pull requests merged in 2023-08, with the labels that each got.

#362 fix (icm): storageClass configuration had changed (#361)
  charts/icm-as/values.yaml
Labels: bug, patch, icm-as

#365 feat (icm): add new relic configuration to iste tmpl (#364)
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm/values-iste_linux.tmpl
Labels: enhancement, patch, icm

#368 fix: WAA limits (#367)
  charts/icm-web/values.yaml
  charts/icm/Chart.yaml
Labels: enhancement, patch, icm-web

#373 feat (icm): configurable update strategy (#372)
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/values.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm-web/values.yaml
Labels: enhancement, minor, icm, icm-as, icm-web

#376 Feature/iom/86871 admin less reset of db
  charts/iom/README.rst
  charts/iom/docs/ParametersIOM.rst
  charts/iom/templates/connection-monitor.yaml
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: iom

#380 feat (icm): provide operational context (#379)
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_helpers.tpl
  charts/icm-as/templates/_operationalContext.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/config-newrelic-yaml-cm.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/environment_test.yaml
  charts/icm-as/tests/newrelic_test.yaml
  charts/icm-as/values.yaml
  charts/icm-web/templates/_operationalContextWeb.tpl
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm-web/values.yaml
Labels: minor, icm, icm-as, icm-web

#383 feat: writes WA-logs to external storage (#382)
  charts/icm-web/templates/cluster-logs-pvc.yaml
  charts/icm-web/templates/cluster-logs-sc.yaml
  charts/icm-web/templates/local-logs-pv.yaml
  charts/icm-web/templates/local-logs-pvc .yaml
  charts/icm-web/templates/nfs-logs-pv.yaml
  charts/icm-web/templates/nfs-logs-pvc.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/values.yaml
Labels: bug, enhancement, minor, icm-web

#378 feat: provide annotations about prometheus endpoints (#377)
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_helpers.tpl
  charts/icm-as/tests/newrelic_test.yaml
  charts/icm-as/values.yaml
Labels: enhancement, minor, icm-as

#387 Feature/iom/80794 update mailhog
  charts/iom/Chart.lock
  charts/iom/Chart.yaml
  charts/iom/README.rst
  charts/iom/docs/ParametersMailhog.rst
  charts/iom/values.yaml
Labels: iom

#349 feat(icm): redis configuration (#335)
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_volumeMounts.tpl
  charts/icm-as/templates/_volumes.tpl
  charts/icm-as/templates/ingress.yaml
  charts/icm-as/templates/redis-client-config-cm.yaml
  charts/icm-as/tests/ingress_test.yaml
  charts/icm-as/tests/redis_client_config_test.yaml
  charts/icm-as/tests/weblayer_test.yaml
  charts/icm-as/values.yaml
  charts/icm/requirements.yaml
  charts/icm/values.yaml
  ct_icm.yaml
Labels: minor, Repo, icm-as

#395 ci: automate release process (#393)
  .github/callBump2version.py
  .github/template/bump-version/action.yml
  .github/workflows/bump-version.yml
  .github/workflows/main-develop-sync.yml
  .github/workflows/release-branch.yml
  .github/workflows/release-charts.yml
  .gitignore
  charts/icm-as/.bumpversion.cfg
  charts/icm-as/Chart.yaml
  charts/icm-job/.bumpversion.cfg
  charts/icm-job/Chart.yaml
  charts/icm-replication/.bumpversion.cfg
  charts/icm-replication/Chart.yaml
  charts/icm-replication/requirements.yaml
  charts/icm-web/.bumpversion.cfg
  charts/icm-web/Chart.yaml
  charts/icm/.bumpversion.cfg
  charts/icm/Chart.yaml
  charts/icm/requirements.yaml
  charts/iom/.bumpversion.cfg
Labels: Repo

#397 feat(iom): provide std labels on certain resources (#86787)
  charts/iom/charts/iom-tests/templates/_helpers.tpl
  charts/iom/charts/iom-tests/templates/deployment.yaml
  charts/iom/charts/postgres/templates/_helpers.tpl
  charts/iom/charts/postgres/templates/deployment.yaml
  charts/iom/charts/postgres/templates/pvc.yaml
  charts/iom/charts/postgres/values.yaml
  charts/iom/templates/_helpers.tpl
  charts/iom/templates/connection-monitor.yaml
  charts/iom/templates/patch-downtime.yaml
  charts/iom/templates/patch-mailhog.yaml
  charts/iom/templates/persistentvolumeclaim.yaml
  charts/iom/templates/statefulset.yaml
Labels: iom
