Repository intershop/helm-charts, pull requests merged in 2023-06, with the labels that each got.

#312 fix: file ownership for azure file shares
  charts/icm-as/README.md
  charts/icm-as/templates/_volumes.tpl
  charts/icm-as/tests/persistence-jgroups_test.yaml
  charts/icm-as/tests/persistence-sites_test.yaml
  charts/icm-as/values.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm-web/values.yaml
Labels: bug, patch, icm, icm-as

#324 feat (icm): remove local volume hacks (#322)
  charts/icm-as/Chart.yaml
  charts/icm-as/templates/_initContainer.tpl
  charts/icm-as/tests/customizations_test.yaml
  charts/icm/Chart.yaml
  charts/icm/start-test-local.sh
  charts/icm/templates/test-job.yaml
  charts/icm/values-iste_linux.tmpl
Labels: enhancement, patch, icm, icm-as, icm-web

#328 Feature/icm/327 repair integration tests
  .github/workflows/lint-test_icm-as-integrationtest.yml
  .github/workflows/lint-test_icm-integrationtest.yml
  charts/icm-as/crds/icm-job-controller.yaml
  charts/icm-as/templates/_initContainer.tpl
  charts/icm-as/tests/customizations_test.yaml
  charts/icm-web/.bumpversion.cfg
  charts/icm-web/Chart.yaml
  charts/icm/requirements.yaml
  charts/icm/templates/test-job.yaml
  charts/icm/values.yaml
  ct_icm-as.yaml
  ct_icm.yaml
  ct_pwa.yaml
Labels: Repo

#337 Feature/icm/336 move icm job to helm chart
  .github/callBump2version.py
  .github/workflows/release-charts.yml
  charts/icm-as/Chart.yaml
  charts/icm-as/README.md
  charts/icm-as/templates/as-secret.yaml
  charts/icm-as/tests/secret_test.yaml
  charts/icm-as/values.yaml
  charts/icm-job/.bumpversion.cfg
  charts/icm-job/.helmignore
  charts/icm-job/Chart.yaml
  charts/icm-job/README.md
  charts/icm-job/crds/icm-job-controller.yaml
  charts/icm-job/templates/icm-job-secret.yaml
  charts/icm-job/templates/icm-job.yaml
  charts/icm-job/values.yaml
  charts/icm/README.md
  charts/icm/start-test-local.sh
  charts/icm/values.yaml
Labels: enhancement, minor, icm, icm-as

#326 Bump to alpine 3.18
  charts/pwa/templates/prefetch-job.yaml
Labels: pwa, minor
