Repository intershop/helm-charts, pull requests merged in 2023-10, with the labels that each got.

#400 feat: support secrets store csi v1 (#384)
  charts/icm-as/templates/ssl-certificate-spc.yaml
  charts/icm-as/values.yaml
  charts/icm-web/templates/ssl-certificate-spc.yaml
  charts/icm-web/values.yaml
Labels: enhancement, minor, icm, icm-as, icm-web

#412 Release changes develop/icm
  .github/callBump2version.py
  .github/template/bump-version/action.yml
  .github/workflows/bump-version.yml
  .github/workflows/main-develop-sync.yml
  .github/workflows/release-branch.yml
  .github/workflows/release-charts.yml
  .gitignore
  charts/icm-as/.bumpversion.cfg
  charts/icm-as/Chart.yaml
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/ssl-certificate-spc.yaml
  charts/icm-as/values.yaml
  charts/icm-job/.bumpversion.cfg
  charts/icm-job/Chart.yaml
  charts/icm-replication/.bumpversion.cfg
  charts/icm-replication/Chart.yaml
  charts/icm-replication/requirements.yaml
  charts/icm-web/.bumpversion.cfg
  charts/icm-web/Chart.yaml
  charts/icm-web/templates/ssl-certificate-spc.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.cfg
  charts/icm/Chart.yaml
  charts/icm/requirements.yaml
  charts/icm/values-iste_linux.tmpl
  charts/icm/values-test-local.tmpl
  charts/iom/.bumpversion.cfg
Labels: Repo

#417 ci: automate release process (#393)
  .github/callBump2version.py
  .github/template/bump-version/action.yml
  .github/workflows/bump-version.yml
  .github/workflows/main-develop-sync.yml
  .github/workflows/release-branch.yml
  .github/workflows/release-charts.yml
  .gitignore
  charts/icm-as/.bumpversion.cfg
  charts/icm-as/Chart.yaml
  charts/icm-job/.bumpversion.cfg
  charts/icm-job/Chart.yaml
  charts/icm-replication/.bumpversion.cfg
  charts/icm-replication/Chart.yaml
  charts/icm-replication/requirements.yaml
  charts/icm-web/.bumpversion.cfg
  charts/icm-web/Chart.yaml
  charts/icm/.bumpversion.cfg
  charts/icm/Chart.yaml
  charts/icm/requirements.yaml
  charts/iom/.bumpversion.cfg
Labels: Repo

#426 Bugfix/common/release branch race conditions
  .github/workflows/release-branch.yml
Labels: Repo

#428 docs(iom): fixed description and link (#87740, #87733)
  charts/iom/README.rst
  charts/iom/docs/ParametersIOM.rst
Labels: iom

#407 feat(iom): add support for APM of New Relic (#89234)
  charts/iom/README.rst
  charts/iom/docs/ParametersIOM.rst
  charts/iom/templates/newrelic-config.yaml
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: iom

#433 Bugfix/common/432 getting all of the changes
  .github/workflows/release-branch.yml
Labels: Repo

#436 Bugfix/common/432 getting all of the changes
  .github/workflows/release-branch.yml
Labels: Repo

#437 fix: broken branch ref
  .github/workflows/release-branch.yml
Labels: Repo

#438 fix: main needs to be checked out (#437)
  .github/workflows/release-branch.yml
Labels: Repo

#398 feat(iom)!: provide auto generated JWT secret
  charts/iom/README.rst
  charts/iom/docs/ParametersIOM.rst
  charts/iom/templates/_ish.tpl
  charts/iom/templates/jwt-autosecret.yaml
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: iom

#440 feat(iom): new relic apm license key should be provided as a secret (…
  charts/iom/docs/ParametersIOM.rst
  charts/iom/templates/newrelic-config.yaml
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: iom
