Repository intershop/helm-charts, pull requests merged in 2023-03, with the labels that each got.

#212 fix (icm): mail shall now be correct on both ends (#209)
  charts/icm/values-iste_linux.tmpl
Labels: bug, patch, icm

#219 use appserver management connector
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/probes-liveness_test.yaml
  charts/icm-as/tests/probes-readiness_test.yaml
  charts/icm-as/tests/probes-startup_test.yaml
Labels: bug, icm-as

#215 Feature/icm/214 multiple ingress hosts
  charts/icm-web/templates/ingress.yaml
  charts/icm-web/values.yaml
  charts/icm/tests/default-values-test_test.yaml
Labels: enhancement, major, icm, icm-web

#221 bugfix/icm/220 execute testrunner as intershop
  charts/icm-web/values.yaml
  charts/icm/start-test-local.sh
  charts/icm/templates/test-job.yaml
  charts/icm/values-iste_linux.tmpl
  charts/icm/values.yaml
Labels: bug, patch, icm

#224 fix (icm): update testrun call (#223)
  charts/icm/templates/test-job.yaml
  charts/icm/values-iste_linux.tmpl
Labels: bug, patch, icm

#227 Bugfix/icm/223 use env variables
  charts/icm/templates/test-job.yaml
  charts/icm/values-iste_linux.tmpl
Labels: bug, patch, icm

#238 fix (icm): zip pagedump folder and remove it (#237)
  charts/icm/templates/test-job.yaml
  charts/icm/values-iste_linux.tmpl
Labels: enhancement, patch, icm

#241 fix (icm): zip must be installed exactly before usage (#237)
  charts/icm/templates/test-job.yaml
  charts/icm/values-iste_linux.tmpl
Labels: bug, patch, icm

#246 feat (icm): adjust cpu limits (#245)
  charts/icm/Chart.yaml
  charts/icm/values-iste_linux.tmpl
Labels: enhancement, patch, icm

#244 feat (icm): enable emptyDir for pagecache volume (#176)
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm-web/values.yaml
  charts/icm/values-iste_linux.tmpl
  charts/icm/values-test-local.yaml
Labels: enhancement, patch, icm, icm-web

#250 feat (icm): enable log output to volume mount (#249)
  .gitignore
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/tests/custom-command_test.yaml
  charts/icm/README.md
  charts/icm/start-test-local.sh
  charts/icm/start-test-local_vars.sh
  charts/icm/tests/default-values-test_test.yaml
  charts/icm/values-iste_linux.tmpl
  charts/icm/values-test-local.tmpl
Labels: enhancement, patch, icm

#257 feat (icm): allow http access since redirect is not working (#256)
  charts/icm/values-iste_linux.tmpl
Labels: enhancement, patch, icm
