Repository intershop/helm-charts, pull requests merged in 2023-04, with the labels that each got.

#262 fix (icm): Update icm-webadapter to version 2.4.6 (#261)
  charts/icm-replication/values.yaml
  charts/icm-web/values.yaml
  charts/icm/start-test-local_vars.sh
  charts/icm/values.yaml
Labels: patch, icm, icm-web

#243 feat: enable/disable recreation of database (#201)
  charts/icm-as/templates/mssql-deployment.yaml
  charts/icm-as/tests/mssql-support_test.yaml
  charts/icm-as/values.yaml
Labels: bug, minor, icm-as

#272 fix (icm): overwrite mail service configuration via environment var (#271)
  charts/icm/values-iste_linux.tmpl
Labels: bug, patch, icm

#269 feat (icm): refactoring test execution (#251)
  .github/template/base/action.yml
  .github/template/unittest/action.yml
  .github/workflows/lint-test_icm-as-integrationtest.yml
  .github/workflows/lint-test_icm-as-unittest.yml
  .github/workflows/lint-test_icm-as.yml
  .github/workflows/lint-test_icm-integrationtest.yml
  .github/workflows/lint-test_icm-unittest.yml
  .github/workflows/lint-test_icm.yml
  charts/icm-as/README.md
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/as-service.yaml
  charts/icm-as/templates/mssql-deployment.yaml
  charts/icm-as/templates/mssql-service.yaml
  charts/icm-as/tests/fullname-override_test.yaml
  charts/icm-as/tests/name-override_test.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/wa-service.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm/README.md
  charts/icm/tests/persistence-testdata-test_test.yaml
  charts/icm/values.yaml
  ct_icm-as.yaml
  ct_icm.yaml
Labels: Repo

#275 Release/icm/0.9.5
  .github/template/base/action.yml
  .github/template/unittest/action.yml
  .github/workflows/lint-test_icm-as-integrationtest.yml
  .github/workflows/lint-test_icm-as-unittest.yml
  .github/workflows/lint-test_icm-as.yml
  .github/workflows/lint-test_icm-integrationtest.yml
  .github/workflows/lint-test_icm-unittest.yml
  .github/workflows/lint-test_icm.yml
  charts/icm-as/.bumpversion.cfg
  charts/icm-as/Chart.yaml
  charts/icm-as/README.md
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/as-service.yaml
  charts/icm-as/templates/mssql-deployment.yaml
  charts/icm-as/templates/mssql-service.yaml
  charts/icm-as/tests/fullname-override_test.yaml
  charts/icm-as/tests/name-override_test.yaml
  charts/icm-web/.bumpversion.cfg
  charts/icm-web/Chart.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/wa-service.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm/.bumpversion.cfg
  charts/icm/Chart.yaml
  charts/icm/README.md
  charts/icm/requirements.yaml
  charts/icm/tests/persistence-testdata-test_test.yaml
  charts/icm/values.yaml
  ct_icm-as.yaml
  ct_icm.yaml
Labels: Repo
