Repository intershop/helm-charts, pull requests merged in 2023-11, with the labels that each got.

#444 feat (common): allow manual release (#443)
  .github/workflows/release-charts.yml
Labels: enhancement, patch, Repo

#445 Release adopted ReleaseChart action
  .github/workflows/release-charts.yml
Labels: Repo

#452 fix: update chart-testing-action (#451)
  .github/template/base/action.yml
Labels: Repo

#447 Support Several JGroups Discovery Modes
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_helpers.tpl
  charts/icm-as/templates/_initContainer.tpl
  charts/icm-as/templates/_volumeMounts.tpl
  charts/icm-as/templates/_volumes.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/cluster-jgroups-pvc.yaml
  charts/icm-as/templates/jgroups-config-xml-cm.yaml
  charts/icm-as/templates/jgroups-kubeping-cr.yaml
  charts/icm-as/templates/jgroups-kubeping-crb.yaml
  charts/icm-as/templates/jobserver-deployment.yaml
  charts/icm-as/templates/local-jgroups-pvc.yaml
  charts/icm-as/templates/serviceaccount.yaml
  charts/icm-as/tests/jgroups-config_test.yaml
  charts/icm-as/tests/jgroups-kubeping-cluster-roles_test.yaml
  charts/icm-as/tests/serviceaccount-create_test.yaml
  charts/icm-as/values.yaml
Labels: enhancement, minor, icm, icm-as

#449 fix: can't enable job server without deploying controller (#448)
  charts/icm-as/Chart.yaml
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/jobserver-deployment.yaml
  charts/icm-as/values.yaml
  charts/icm-job/Chart.yaml
  charts/icm-job/README.md
  charts/icm-job/templates/icm-job.yaml
  charts/icm-job/values.yaml
Labels: bug, patch, icm-as, icm-job

#456 fix: integrate jobcontroller official release
  charts/icm-job/README.md
  charts/icm-job/templates/icm-job.yaml
  charts/icm-job/values.yaml
Labels: bug, patch, icm, Repo, icm-job

#457 chore: chart releaser will now also generate release notes (#394)
  .github/release.yml
  .github/workflows/main-develop-sync.yml
  .github/workflows/release-charts.yml
Labels: Repo

#460 Fix/common/459 pr triggers tests again
  .github/workflows/release-branch.yml
Labels: Repo

#464 docs(iom): documentation review
  charts/iom/README.rst
  charts/iom/docs/ParametersIOM.rst
  charts/iom/templates/_ish.tpl
  charts/iom/values.yaml
Labels: iom

#475 Release develop/common
  .github/workflows/release-branch.yml
  charts/pwa/.bumpversion.toml
Labels: Repo

#481 docs: enhance contribution guideline (#480)
  CONTRIBUTING.md
Labels: Repo

#483 Release develop/common
  CONTRIBUTING.md
Labels: Repo

#482 docs(iom): how to provide prometheus metrics for New Relic / OpenTelemetry
  charts/iom/docs/Metrics.rst
  charts/iom/docs/ParametersIOM.rst
Labels: iom

#470 fix:icm labels for jobserver - controller update
  charts/icm-job/templates/icm-job.yaml
  charts/icm-job/values.yaml
Labels: bug, patch, icm-job

#486 fix(iom): upgrade fails (#90582)
  charts/iom/charts/iom-tests/templates/_helpers.tpl
  charts/iom/charts/iom-tests/templates/deployment.yaml
  charts/iom/charts/postgres/templates/_helpers.tpl
  charts/iom/charts/postgres/templates/deployment.yaml
  charts/iom/templates/_helpers.tpl
  charts/iom/templates/connection-monitor.yaml
  charts/iom/templates/patch-downtime.yaml
  charts/iom/templates/patch-mailhog.yaml
  charts/iom/templates/poddisruptionbudget.yaml
  charts/iom/templates/statefulset.yaml
Labels: iom

#402 feat(pwa): monitoring with grafana
  .gitignore
  charts/pwa/README.md
  charts/pwa/ci/monitoring.yaml
  charts/pwa/templates/_helpers.tpl
  charts/pwa/templates/deployment.yaml
  charts/pwa/templates/deployment_cache.yaml
  charts/pwa/templates/monitoring/_helpers.tpl
  charts/pwa/templates/monitoring/grafana.yaml
  charts/pwa/templates/monitoring/prometheus.yaml
  charts/pwa/templates/service.yaml
  charts/pwa/templates/service_cache.yaml
  charts/pwa/values.schema.json
  charts/pwa/values.yaml
Labels: pwa

#403 refactor: new ingress format
  charts/pwa/README.md
  charts/pwa/ci/cache-channels.yaml
  charts/pwa/docs/migrate-to-0.8.0.md
  charts/pwa/templates/NOTES.txt
  charts/pwa/templates/ingress.yaml
  charts/pwa/values.schema.json
  charts/pwa/values.yaml
Labels: pwa

#490 feat(iom)!: remove log metadata (#91368)
  charts/iom/README.rst
  charts/iom/docs/ExampleDemo.rst
  charts/iom/docs/ExampleProd.rst
  charts/iom/docs/ParametersIOM.rst
  charts/iom/templates/connection-monitor.yaml
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: iom

#492 Release develop/common
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/pull_request_template.md
  .github/workflows/release-branch.yml
  .github/workflows/release-charts.yml
  CONTRIBUTING.md
Labels: Repo

#495 Release icm-as:minor icm-job:minor
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/jobserver-deployment.yaml
  charts/icm-job/.bumpversion.toml
  charts/icm-job/CHANGELOG.md
  charts/icm-job/Chart.yaml
  charts/icm-job/RELEASE_NOTES.md
  charts/icm-job/templates/icm-job.yaml
  charts/icm-job/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr

#499 fix(icm-as): K8s Memory Pressure
  charts/icm-as/tests/jvm-config_test.yaml
  charts/icm-as/values.yaml
Labels: bug, patch, icm-as

#500 feat(pwa): make memcached more configurable via flux
  charts/pwa/templates/deployment_memcached.yaml
  charts/pwa/values.schema.json
  charts/pwa/values.yaml
Labels: pwa
