Repository intershop/helm-charts, pull requests merged in 2023-07, with the labels that each got.

#347 feat (icm)!: Remove license configuration (#346)
  .github/workflows/lint-test_icm-as-integrationtest.yml
  .github/workflows/lint-test_icm-integrationtest.yml
  charts/icm-as/README.md
  charts/icm-as/templates/_volumeMounts.tpl
  charts/icm-as/templates/_volumes.tpl
  charts/icm-as/templates/config-license-xml-cm.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/fullname-override_test.yaml
  charts/icm-as/tests/license_test.yaml
  charts/icm-as/tests/name-override_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/README.md
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm-replication/values-test-local.tmpl
  charts/icm-replication/values.yaml
  charts/icm/README.md
  charts/icm/values-iste_linux.tmpl
  charts/icm/values-test-local.tmpl
  charts/icm/values.yaml
Labels: major, icm, Repo, icm-as

#351 feat (icm): use readiness probe with two conditions (#350)
  charts/icm-as/templates/_initContainer.tpl
  charts/icm-replication/start-test-local_vars.sh
  charts/icm-replication/values-test-local.tmpl
  charts/icm-replication/values.yaml
  charts/icm/templates/test-job.yaml
Labels: enhancement, patch, icm

#354 feat (icm): remove any datadog relation (#353)
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_helpers.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/tests/datadog_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm-replication/values-test-local.tmpl
  charts/icm-web/values.yaml
  charts/icm/templates/_helpers.tpl
  charts/icm/templates/test-job.yaml
  charts/icm/tests/datadog_test.yaml
  charts/icm/values-iste_linux.tmpl
  charts/icm/values-test-local.tmpl
Labels: enhancement, patch, icm, icm-as, icm-web
