Repository intershop/helm-charts, pull requests merged in 2024-02, with the labels that each got.

#529 chore(iom): incorporated changes made by Helm 3.14 (#93550)
  charts/iom/.helmignore
  charts/iom/templates/ingress.yaml
Labels: iom

#530 feat(iom): allow configuration of metrics endpoint (#93564)
  charts/iom/README.rst
  charts/iom/docs/ParametersIOM.rst
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: iom

#528 Iom/task/93086 replace mailhog with mailpit
  charts/iom/Chart.lock
  charts/iom/Chart.yaml
  charts/iom/README.rst
  charts/iom/docs/ExampleDemo.rst
  charts/iom/docs/ExampleProd.rst
  charts/iom/docs/IOMDatabase.rst
  charts/iom/docs/ParametersIOM.rst
  charts/iom/docs/ParametersMailpit.rst
  charts/iom/docs/ParametersPostgres.rst
  charts/iom/docs/ToolsAndConcepts.rst
  charts/iom/templates/_subchart.tpl
  charts/iom/templates/patch-mailhog.yaml
  charts/iom/templates/statefulset.yaml
  charts/iom/values.yaml
Labels: iom

#534 feat(pwa): make prefetch job args configurable via flux
  charts/pwa/templates/prefetch-job.yaml
  charts/pwa/values.schema.json
  charts/pwa/values.yaml
Labels: pwa

#541 feat(icm): Database password via secretKeyRef (#143)
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/tests/environment_test.yaml
  charts/icm-as/values.yaml
Labels: enhancement, minor, icm, icm-as, icm-job

#542 feat(icm): New Relic license via secretKeyRef (#540)
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/config-newrelic-yaml-cm.yaml
  charts/icm-as/tests/newrelic_test.yaml
  charts/icm-as/values.yaml
Labels: enhancement, minor, icm, icm-as, icm-job

#543 fix(icm): Deprecate icm-as.newrelic.license_key
  charts/icm-as/values.yaml
Labels: documentation, patch, icm, icm-as

#544 Release icm-as:minor
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/config-newrelic-yaml-cm.yaml
  charts/icm-as/tests/environment_test.yaml
  charts/icm-as/tests/newrelic_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr

#552 fix(icm): Deprecate icm-as.newrelic.app_name and provide appName instead
  charts/icm-as/templates/config-newrelic-yaml-cm.yaml
  charts/icm-as/tests/newrelic_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm/values-iste_linux.tmpl
Labels: documentation, patch, icm, icm-as, icm-job

#551 feat(icm): Environments via secretKeyRef (#550)
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/tests/environment_test.yaml
  charts/icm-as/values.yaml
Labels: enhancement, minor, icm, icm-as, icm-job

#557 fix: Usage of actions/labeler@v5
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: patch, Repo

#556 chore: Set explicit version of GitHub azure/setup-helm Workflow Actions (#549)
  .github/template/base/action.yml
  .github/workflows/lint-test_pwa.yml
  .github/workflows/release-charts.yml
Labels: patch, Repo
