Repository intershop/helm-charts, pull requests merged in 2024-05, with the labels that each got.

#654 volume for encryption files
  charts/icm-as/Chart.yaml
  charts/icm-as/release-notes/2.0.0.md
  charts/icm-as/templates/_volumeMounts.tpl
  charts/icm-as/templates/_volumes.tpl
  charts/icm-as/templates/cluster-encryption-pvc.yaml
  charts/icm-as/templates/cluster-encryption-sc.yaml
  charts/icm-as/templates/local-encryption-pv.yaml
  charts/icm-as/templates/local-encryption-pvc.yaml
  charts/icm-as/templates/nfs-encryption-pv.yaml
  charts/icm-as/templates/nfs-encryption-pvc.yaml
  charts/icm-as/templates/static-encryption-pvc.yaml
  charts/icm-as/templates/static-sites-pvc.yaml
  charts/icm-as/tests/persistence-sites_test.yaml
  charts/icm-as/values.yaml
  charts/icm/Chart.yaml
  charts/icm/values.yaml
Labels: enhancement, icm-as

#656 fix(icm): enable e2e tests without encryption and fix integration tests
  .github/workflows/lint-test_icm-as-integrationtest.yml
  .github/workflows/lint-test_icm-integrationtest.yml
  charts/icm-as/values.yaml
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm-replication/values.yaml
  charts/icm/values-iste_linux.tmpl
  charts/icm/values.yaml
Labels: Repo

#669 Release icm:major icm-as:major icm-replication:major
  .chglog/config.yml
  .github/workflows/lint-test_icm-as-integrationtest.yml
  .github/workflows/lint-test_icm-integrationtest.yml
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/release-notes/2.0.0.md
  charts/icm-as/templates/_volumeMounts.tpl
  charts/icm-as/templates/_volumes.tpl
  charts/icm-as/templates/cluster-encryption-pvc.yaml
  charts/icm-as/templates/cluster-encryption-sc.yaml
  charts/icm-as/templates/local-encryption-pv.yaml
  charts/icm-as/templates/local-encryption-pvc.yaml
  charts/icm-as/templates/nfs-encryption-pv.yaml
  charts/icm-as/templates/nfs-encryption-pvc.yaml
  charts/icm-as/templates/static-encryption-pvc.yaml
  charts/icm-as/templates/static-sites-pvc.yaml
  charts/icm-as/tests/persistence-sites_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/CHANGELOG.md
  charts/icm-replication/Chart.yaml
  charts/icm-replication/RELEASE_NOTES.md
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm-replication/values.yaml
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/RELEASE_NOTES.md
  charts/icm/values-iste_linux.tmpl
  charts/icm/values.yaml
Labels: Repo, automated pr

#652 fix: server group assignment in case job server is enabled (#651)
  charts/icm-as/templates/_environments.tpl
Labels: bug, patch, icm-as
