Repository intershop/helm-charts, pull requests merged in 2024-08, with the labels that each got.

#777 Release icm:minor icm-replication:minor
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/CHANGELOG.md
  charts/icm-replication/Chart.yaml
  charts/icm-replication/RELEASE_NOTES.md
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/RELEASE_NOTES.md
  charts/icm/values-iste_linux.tmpl
Labels: automated pr

#784 feat(icm): allow shutdown via replicas=0 definition (#787)
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
Labels: minor, icm-as, icm-web

#783 feat(icm): WAA and WA doesn't share pagecache directory in case of emptydir is configured and New Relic (#785, #786)
  .github/workflows/lint-test_icm-web-unittest.yml
  charts/icm-as/templates/_operationalContext.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/config-newrelic-yaml-cm.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/newrelic_test.yaml
  charts/icm-as/values.yaml
  charts/icm-web/templates/_operationalContext.tpl
  charts/icm-web/templates/_operationalContextWeb.tpl
  charts/icm-web/templates/_waaContainer.tpl
  charts/icm-web/templates/config-newrelic-yaml-cm.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm-web/tests/environment_test.yaml
  charts/icm-web/tests/nr_test.yaml
  charts/icm-web/tests/operational_context_test.yaml
  charts/icm-web/values.yaml
  ct_icm-web.yaml
Labels: bug, minor, Repo, icm-web

#788 Release icm-as:minor icm-web:minor
  .github/workflows/lint-test_icm-web-unittest.yml
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/_operationalContext.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/config-newrelic-yaml-cm.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/newrelic_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm-web/.bumpversion.toml
  charts/icm-web/CHANGELOG.md
  charts/icm-web/Chart.yaml
  charts/icm-web/RELEASE_NOTES.md
  charts/icm-web/templates/_operationalContext.tpl
  charts/icm-web/templates/_operationalContextWeb.tpl
  charts/icm-web/templates/_waaContainer.tpl
  charts/icm-web/templates/config-newrelic-yaml-cm.yaml
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/templates/waa-deployment.yaml
  charts/icm-web/tests/environment_test.yaml
  charts/icm-web/tests/nr_test.yaml
  charts/icm-web/tests/operational_context_test.yaml
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
  ct_icm-web.yaml
Labels: Repo, automated pr

#795 Release icm:patch icm-replication:patch
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/CHANGELOG.md
  charts/icm-replication/Chart.yaml
  charts/icm-replication/RELEASE_NOTES.md
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/RELEASE_NOTES.md
  charts/icm/values-iste_linux.tmpl
Labels: automated pr
