Repository intershop/helm-charts, pull requests merged in 2024-12, with the labels that each got.

#833 feat(icm): ICM-AS KPI-Exporter Integration (#100553)
  charts/icm-as/templates/kpi-exporter-cronjob.yaml
  charts/icm-as/tests/kpi-exporter-cronjob_test.yaml
  charts/icm-as/values.yaml
Labels: enhancement, minor, icm, icm-as

#831 fix: update WAA to 5.1.0 and adapt resource defaults
  charts/icm-web/values.yaml
Labels: bug, patch

#859 feat(icm): ICM-AS KPI-Exporter Integration (#100553)
  charts/icm-as/templates/kpi-exporter-cronjob.yaml
  charts/icm-as/tests/kpi-exporter-cronjob_test.yaml
  charts/icm-as/values.yaml
Labels: enhancement, minor, icm, icm-as

#860 Release icm-as:minor icm-web:patch
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/kpi-exporter-cronjob.yaml
  charts/icm-as/tests/kpi-exporter-cronjob_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm-web/.bumpversion.toml
  charts/icm-web/CHANGELOG.md
  charts/icm-web/Chart.yaml
  charts/icm-web/RELEASE_NOTES.md
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr
