Repository intershop/helm-charts, pull requests merged in 2024-11, with the labels that each got.

#838 fix: fix inframon jvm-options (#837)
  charts/icm-as/templates/_infrastructureMonitoring.tpl
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/infrastructure-monitoring_test.yaml
  charts/icm-as/values.yaml
Labels: bug, icm, icm-as

#839 Feature/icm/834 fix ingress annotation conflict in icm web chart
  charts/icm-web/templates/ingress.yaml
  charts/icm-web/values.yaml
Labels: bug, icm, icm-as

#840 Release icm-as:minor icm-web:patch
  .github/workflows/lint-test_icm-as-integrationtest.yml
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_infrastructureMonitoring.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/infrastructure-monitoring-service.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/infrastructure-monitoring_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm-web/.bumpversion.toml
  charts/icm-web/CHANGELOG.md
  charts/icm-web/Chart.yaml
  charts/icm-web/RELEASE_NOTES.md
  charts/icm-web/templates/ingress.yaml
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: Repo, automated pr

#847 Release icm-web:minor
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm-web/.bumpversion.toml
  charts/icm-web/CHANGELOG.md
  charts/icm-web/Chart.yaml
  charts/icm-web/RELEASE_NOTES.md
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr

#854 Release icm-web:patch
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm-web/.bumpversion.toml
  charts/icm-web/CHANGELOG.md
  charts/icm-web/Chart.yaml
  charts/icm-web/RELEASE_NOTES.md
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr
