Repository intershop/helm-charts, pull requests merged in 2024-04, with the labels that each got.

#623 Release icm:patch icm-replication:patch
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/CHANGELOG.md
  charts/icm-replication/Chart.yaml
  charts/icm-replication/RELEASE_NOTES.md
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/RELEASE_NOTES.md
  charts/icm/values-iste_linux.tmpl
Labels: automated pr

#628 docs: improve PWA Helm Chart 0.8.0 migration documentation
  charts/pwa/docs/migrate-to-0.8.0.md
  charts/pwa/values.yaml
Labels: pwa

#631 feat: make PWA prefetch job 'args' and 'image' configurable
  charts/pwa/README.md
  charts/pwa/templates/prefetch-job.yaml
  charts/pwa/values.schema.json
  charts/pwa/values.yaml
Labels: pwa

#627 feat(icm-web): ICM WebAdapter Probes
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/values.yaml
Labels: bug, enhancement, minor, icm, icm-web

#629 feat: add options to configure `successfulJobsHistoryLimit` and `failedJobsHistoryLimit` for the prefetch job
  charts/pwa/README.md
  charts/pwa/templates/prefetch-job.yaml
  charts/pwa/values.schema.json
Labels: pwa

#632 Release icm-web:minor
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm-web/.bumpversion.toml
  charts/icm-web/CHANGELOG.md
  charts/icm-web/Chart.yaml
  charts/icm-web/RELEASE_NOTES.md
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr

#637 release: pwa-main version 0.9.0
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE
  README.md
  charts/pwa/.bumpversion.toml
  charts/pwa/Chart.yaml
  charts/pwa/README.md
  charts/pwa/docs/migrate-to-0.8.0.md
  charts/pwa/templates/monitoring/grafana.yaml
  charts/pwa/templates/prefetch-job.yaml
  charts/pwa/values-flux.schema.json
  charts/pwa/values.schema.json
  charts/pwa/values.yaml
Labels: pwa, minor, Repo
