Repository intershop/helm-charts, pull requests merged in 2024-07, with the labels that each got.

#718 Bugfix/pwa/717 configurable init cache container
  charts/pwa/README.md
  charts/pwa/templates/deployment_cache.yaml
  charts/pwa/values.yaml
Labels: pwa

#724 Release PWA 0.9.1
  charts/pwa/.bumpversion.toml
  charts/pwa/Chart.yaml
  charts/pwa/README.md
  charts/pwa/templates/deployment_cache.yaml
  charts/pwa/values.yaml
Labels: pwa

#731 Release icm:patch
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/RELEASE_NOTES.md
  charts/icm/templates/test-job.yaml
Labels: automated pr

#738 Release icm:patch icm-replication:patch
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/CHANGELOG.md
  charts/icm-replication/Chart.yaml
  charts/icm-replication/RELEASE_NOTES.md
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/RELEASE_NOTES.md
  charts/icm/templates/test-job.yaml
  charts/icm/values-iste_linux.tmpl
Labels: automated pr

#729 feat(icm-web): Try to schedule WA pods evenly over different nodes
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/values.yaml
Labels: enhancement, minor, icm, icm-web

#744 Release icm-web:minor
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm-web/.bumpversion.toml
  charts/icm-web/CHANGELOG.md
  charts/icm-web/Chart.yaml
  charts/icm-web/RELEASE_NOTES.md
  charts/icm-web/templates/wa-deployment.yaml
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr

#753 Release icm:patch icm-replication:patch
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/CHANGELOG.md
  charts/icm-replication/Chart.yaml
  charts/icm-replication/RELEASE_NOTES.md
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/RELEASE_NOTES.md
  charts/icm/values-iste_linux.tmpl
Labels: automated pr

#759 Release icm-as:patch
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/cluster-jgroups-pvc.yaml
  charts/icm-as/templates/cluster-jgroups-sc.yaml
  charts/icm-as/tests/persistence-jgroups_test.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr

#769 feat(icm): Configurable access to internal WA endpoints
  charts/icm-web/templates/ingress.yaml
  charts/icm-web/values.yaml
Labels: enhancement, minor, icm, icm-web

#770 Release icm-web:minor
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm-web/.bumpversion.toml
  charts/icm-web/CHANGELOG.md
  charts/icm-web/Chart.yaml
  charts/icm-web/RELEASE_NOTES.md
  charts/icm-web/templates/ingress.yaml
  charts/icm-web/values.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr
