Repository intershop/helm-charts, pull requests merged in 2024-09, with the labels that each got.

#801 fix(icm): Fix invalid operational context labels in replication context (#800)
  charts/icm-as/templates/_operationalContext.tpl
  charts/icm-as/tests/operational_context_test.yaml
Labels: bug, patch, icm, icm-as

#804 chore(icm): Update helm unittest dependencies
  .github/template/base/action.yml
  .github/template/unittest/action.yml
Labels: Repo

#805 Release icm-as:patch
  .github/template/base/action.yml
  .github/template/unittest/action.yml
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/_operationalContext.tpl
  charts/icm-as/tests/operational_context_test.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: Repo, automated pr

#803 feat(icm): New replication environment configuration
  .gitignore
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_helpers.tpl
  charts/icm-as/templates/_volumeMounts.tpl
  charts/icm-as/templates/_volumes.tpl
  charts/icm-as/templates/config-replication-clusters-xml-cm.yaml
  charts/icm-as/tests/replication_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm-replication/values.yaml
  charts/icm/values.yaml
Labels: enhancement, minor, icm, icm-as

#810 Release icm:minor icm-as:minor icm-replication:minor
  .gitignore
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_helpers.tpl
  charts/icm-as/templates/_volumeMounts.tpl
  charts/icm-as/templates/_volumes.tpl
  charts/icm-as/templates/config-replication-clusters-xml-cm.yaml
  charts/icm-as/tests/replication_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/CHANGELOG.md
  charts/icm-replication/Chart.yaml
  charts/icm-replication/RELEASE_NOTES.md
  charts/icm-replication/values-iste_linux.tmpl
  charts/icm-replication/values.yaml
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/RELEASE_NOTES.md
  charts/icm/values.yaml
Labels: automated pr

#817 release: pwa-main version 0.9.2
  charts/pwa/.bumpversion.toml
  charts/pwa/Chart.yaml
  charts/pwa/README.md
  charts/pwa/templates/prefetch-job.yaml
  charts/pwa/values-flux.schema.json
Labels: pwa, patch

#823 Add unit tests for encryption volume and update strategy
  charts/icm-as/templates/cluster-encryption-sc.yaml
  charts/icm-as/tests/persistence-encryption_test.yaml
  charts/icm-as/tests/update-strategy_test.yaml
Labels: patch, icm-as

#824 815 - support infrastructure probing container
  .github/workflows/lint-test_icm-as-integrationtest.yml
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_infrastructureMonitoring.tpl
  charts/icm-as/templates/as-deployment.yaml
  charts/icm-as/templates/infrastructure-monitoring-service.yaml
  charts/icm-as/tests/default-values_test.yaml
  charts/icm-as/tests/infrastructure-monitoring_test.yaml
  charts/icm-as/values.yaml
Labels: minor, Repo, icm-as
