Repository intershop/helm-charts, pull requests merged in 2025-04, with the labels that each got.

#977 docs(icm): Add icm configMapMounts docu (#976)
  charts/icm/docs/configmapmounts-kustomize.rst
Labels: documentation, icm, icm-web

#983 Release icm:patch
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/RELEASE_NOTES.md
  charts/icm/docs/configmapmounts-kustomize.rst
Labels: automated pr

#988 docs(iom): Document new parameter kubectlImageRepository
  charts/iom/docs/ParametersIOM.rst
Labels: iom
