Repository intershop/helm-charts, pull requests merged in 2025-01, with the labels that each got.

#869 fix(icm): update kpi exporter schedule date (#102730)
  .github/template/base/action.yml
  charts/icm-as/templates/kpi-exporter-cronjob.yaml
  charts/icm-as/tests/kpi-exporter-cronjob_test.yaml
Labels: bug, patch, icm, icm-as

#872 Release icm-as:patch
  .github/template/base/action.yml
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/kpi-exporter-cronjob.yaml
  charts/icm-as/tests/kpi-exporter-cronjob_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: Repo, automated pr

#866 feat(icm): jgroups location directory configurable (#865)
  charts/icm-as/templates/jgroups-config-xml-cm.yaml
  charts/icm-as/tests/jgroups-config_test.yaml
  charts/icm-as/values.yaml
Labels: minor, icm, icm-as

#877 Release icm-as:minor
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/jgroups-config-xml-cm.yaml
  charts/icm-as/tests/jgroups-config_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr

#885 Release icm:patch icm-as:patch
  CONTRIBUTING.md
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/CHANGELOG.md
  charts/icm/Chart.yaml
  charts/icm/README.md
  charts/icm/RELEASE_NOTES.md
  charts/icm/values.yaml
Labels: Repo, automated pr

#890 fix(icm): fix error message about mutual exclusive databaseName/database configuration
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/tests/replication_test.yaml
  charts/icm-as/values.yaml
Labels: patch, icm, icm-as

#894 Release icm-as:minor
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/kpi-exporter-cronjob.yaml
  charts/icm-as/tests/kpi-exporter-cronjob_test.yaml
  charts/icm-as/tests/replication_test.yaml
  charts/icm-as/values.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr

#901 fix: make kubectl image configurable (#900)
  charts/iom/Chart.yaml
  charts/iom/README.rst
  charts/iom/templates/patch-downtime.yaml
  charts/iom/values.yaml
Labels: iom

#902 Develop/iom
  charts/iom/Chart.yaml
  charts/iom/README.rst
  charts/iom/templates/patch-downtime.yaml
  charts/iom/values.yaml
Labels: iom
