Repository intershop/helm-charts, pull requests merged in 2025-08, with the labels that each got.

#1062 Release icm-job-test:patch
  charts/icm-job-test/.bumpversion.toml
  charts/icm-job-test/CHANGELOG.md
  charts/icm-job-test/Chart.yaml
  charts/icm-job-test/RELEASE_NOTES.md
  charts/icm-job-test/values-iste_linux.tmpl
  charts/icm-job-test/values-test-local.tmpl
Labels: automated pr

#1071 feat: Optimise Helm Chart Release Process
  .github/workflows/main-develop-sync.yml
Labels: Repo

#1078 Fix: Use Merge Strategy instead of Squash Strategy
  .github/workflows/main-develop-sync.yml
Labels: Repo

#1080 fix(common): use correct output pull request number output (#1067)
  .github/workflows/main-develop-sync.yml
Labels: Repo

#1072 feature/icm/1070 consume newest webadapter
  charts/icm-web/values.yaml
Labels: bug

#1083 Feature/icm/1070 consume newest webadapter
  charts/icm/values.yaml
Labels: bug

#1104 chore: integrate main to develop/icm
  .chglog/config.yml
  .github/release.yml
  .github/workflows/main-develop-sync.yml
Labels: Repo
