Repository intershop/helm-charts, pull requests merged in 2025-07, with the labels that each got.

#1028 #1027: allow to mount more than 1 certificate
  charts/icm-as/docs/how-to.asciidoc
  charts/icm-as/templates/_environments.tpl
  charts/icm-as/templates/_volumeMounts.tpl
  charts/icm-as/tests/secret-mounts_test.yaml
Labels: bug, documentation

#1031 fix(icm): allow to mount more than 1 certificate (#1027)
  charts/icm-as/values.yaml
Labels: bug, icm-as

#1052 Release icm-as:patch
  charts/icm-as/.bumpversion.toml
  charts/icm-as/CHANGELOG.md
  charts/icm-as/Chart.yaml
  charts/icm-as/RELEASE_NOTES.md
  charts/icm-as/templates/_environments.tpl
  charts/icm-job-test/.bumpversion.toml
  charts/icm-job-test/Chart.yaml
  charts/icm-replication/.bumpversion.toml
  charts/icm-replication/Chart.yaml
  charts/icm/.bumpversion.toml
  charts/icm/Chart.yaml
Labels: automated pr
